<?xml version="1.0"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <add id="New_AdminMenu::main_menu"
         title="Trainee Panel"
         module="New_AdminMenu"
         sortOrder="50"
         resource="New_AdminMenu::main_menu"/>

    <add id="New_AdminMenu::sub_menu"
         title="Dashboard"
         module="New_AdminMenu"
         sortOrder="10"
         parent="New_AdminMenu::main_menu"
         action="adminmenu/index/index"
         resource="New_AdminMenu::sub_menu"/>
</menu>
